*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#app_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #009688  20%, #DDDBD1 20% , #D2DBDC 100%);
}

.boolz_app {
  width: 80%;
  height: 95%;
  background-color: white;
}

header {
  height: 12%;
  background-color: #EAEAEA;
  display:flex;
}

main {
  height: 88%;
  display:flex;
}

.main_user,
.contacts_list {
  width: 30%;
  border-right: 1px solid lightgrey;
}
.active_user_message,
.active_message_container {
  height: 100%;
  width: 70%;
}
/* header */
header img {
  width: 50px;
}
header i {
  cursor: pointer;
  padding: 10px;
  color: #B2B2B2;
}
header h2,
header p {
  padding-left: 15px;
}
/* user */
.info_main {
  width: 80%;
  display: flex;

}
.utility_user  {
  width: 20%;
  display: flex;
  flex-direction: row-reverse;
}
.active_user {
  padding: 10px;
  display: flex;
  align-items: center;
}
/* chat user */
.active_user_message {
  padding: 10px;
  display: flex;
  align-items: center;
}

.chat_info{
  width: 80%;
}
.chat_info > p {
  padding: 5px;
  padding-left: 15px;
  font-size: 10px;
  color: grey;
}
.utility_chat {
  display: flex;
  flex-direction: row-reverse;
  width: 20%;
}

/* main */
.notifications {
  height: 10%;
  background-color: #8EDAFC;
}
.search {
  background-color: #EAEAEA;
  padding: 10px 5px;
  text-align: center;
}
.search > input {
  font-family:Arial, FontAwesome;
  width: calc(100% - 5px);
  border: none;
  border-radius: 2px;
  padding: 5px;
}

.active_message_container {
  display: flex;
  flex-direction: column;
}
.main_message {
  height: 90%;
  background-image: url(../img/background_chat.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
}
.sent,
.received {
  padding: 20px;

}
.sent p{
  padding: 10px 7px;
  float: right;
  width: 40%;
  background-color: #D5F9BA;
  border-radius: 7px;
}
.received p {
  padding: 10px 7px;
  float: left;
  width: 40%;
  background-color: #FFFFFF;
  border-radius: 7px;
}
.sent:after {
  content: "";
  display: table;
  clear: both;
}
.user_text {
  width: 100%;
  height: 10%;
  background-color: #EAEAEA;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  color: grey;
}

.user_text > input {
  width: 70%;
  border: none;
  border-radius: 2px;
  padding: 7px;
}

.user_text > i {
  cursor: pointer
}
.contact {
  padding: 15px;
  height: calc(90% - 46px);
  overflow-y: scroll;
}
.user_in_contact{
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.user_in_contact  img {
  width: 50px;
  height: auto;
}
.user_in_contact h3 {
  margin-left: 10px;
}
.active_chat{
  background-color: #E9EBEB;
}
.contact_name {
  width: 60%;
}
.user_in_contact  p {
  padding: 5px;
  font-size: 10px;
  color: grey;
}
.user_in_contact span {
  margin-left: 5px;
  padding: 5px;
  font-size: 10px;
  color: grey;
}
